/*
 * Kakao
 */
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 400;
    src: local('NanumSquareRoundR'), local('NanumSquareRoundOTFR'),
    url(NanumSquareRoundOTFR.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 200;
    src: local('NanumSquareRoundL'), local('NanumSquareRoundOTFL'),
    url(NanumSquareRoundOTFL.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 700;
    src: local('NanumSquareRoundB'), local('NanumSquareRoundOTFB'),
    url(NanumSquareRoundOTFB.otf) format('opentype');
}
