<div id="footer" class="container-fluid">
    <ul id="links">
        {% if site.github_url %}
        <li>
            <a id="link-github" href="https://github.com/lynnbaek" target="_blank">
                <span class="sr-only">github</span>
            </a>
        </li>
        {% endif %}
        {% if site.facebook %}
        <li>
            <a id="link-facebook" href="https://www.facebook.com/seolin.back" target="_blank">
                <span class="sr-only">facebook</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <p id="copyright">
        <a href="//www.kakaocorp.com">Copyright &copy; Kakao Corp.</a>
        All rights reserved.
    </p>
</div><!--#footer-->
